.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 12.5rem;
  background-color: var(--gray-700);
  img {height: 3rem;}
}

.inputAddNewComment {
  width: fit-content;
  margin: -27px auto 64px auto;
  background-color: var(--gray-500);
  display: flex;
  gap: 8px;
  
  textarea {
    width: 638px;
    height: 54px; /* altura fixa */
    margin-left: 15px;
    padding: 13px 0 15px 0;
    resize: none; /* impede o redimensionamento */
    font-size: 1rem;
    color: var(--gray-100);
    overflow-x: hidden; /* barra de rolagem horizontal invisível */
    overflow-y: hidden; /* esconde a barra de rolagem vertical */
    white-space: nowrap; /* impede a quebra de linha */
    
    &::placeholder {
      font-size: 1rem;
    }
  }

  button {
    padding: 0 16px;
    height: 3.25rem;
    background-color: var(--blue-dark);
    display: flex;
    align-items: center;
    gap: 7px;

    > span {
      color: var(--gray-100);
      font-size: .875rem;
      font-weight: bold;
    }
  }
}

.listHeader {
  margin-bottom: 24px;
  ul{
    display: flex;
    justify-content: space-between;
    li {
      color: var(--blue);
      &:last-of-type {color: var(--purple);}
      h2 {font-size: 14px;}
      span {
        background-color: var(--gray-400);
        padding: 2px 8px;
        border-radius: 999px;

        color: var(--gray-200);
        font-size: 12px;
      }
    }
  }
}

.taskList {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.taskCard {
  display: flex;
  gap: 12px;

  padding: 16px;
  border: 1px solid var(--gray-400);
  border-radius: 8px;

  background-color: var(--gray-500);
  fieldset {
    display: flex;
    gap: 16px;

    width: 100%;
    border: 0;
    > label {
      height: fit-content;
      > input {display: none;}
      > span {
        display: block;

        width: 1.0625rem;
        height: 1.0625rem;
        border: 2px solid var(--blue);
        border-radius: 50%;
        margin: 3px;
        &.checked {background-color: red;}
      }
    }
    > p {
      font-size: 1rem;
      line-height: 140%;
    }
  }
  > button {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &.completed {background-color: blue;}
}
.completed {background-color: blue;}
.checked {background-color: red;}